{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h1 class="text-center">Đăng nhập</h1>
        <form method="post" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-check">
                {{ form.remember_me(class="form-check-input") }}
                {{ form.remember_me.label(class="form-check-label") }}
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-3">Đăng nhập</button>
        </form>
    </div>
</div>
{% endblock %}
